@import 'reset';
@import 'fonts';

$dark-grey: #605a5c;
$turquoise: #69b5a3;
$pale-red: #D6AAAC;

$font-roboto: 'Roboto', sans-serif;
$font-raleway: 'Raleway', sans-serif;

.container {
    max-width: 1360px;
    margin-right: auto;
    margin-left: auto;
}

p {
    font-family: $font-roboto;
}

.title, .title a {
    margin-top: 95px;
    margin-bottom: 25px;
    font-size: 40px;
    font-weight: 500;
    margin-bottom: 15px;
    color: #69B5A3;
    margin-left: -2px;
    text-decoration: none;
    font-family: 'Raleway', sans-serif;
}

.title i {
    color: $dark-grey;
}

.underline {
    position: relative;
    margin-bottom: 50px;
    &::before {
        content: "";
        position: absolute;
        bottom: -25px;
        border-bottom: solid 2px $dark-grey;
        width: 10%;
    }
}


.nav {
    text-align: center;
    height: 100px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 75px;

    a {
        text-decoration: none;
        font-family: 'Raleway', sans-serif;
        text-transform: uppercase;
        color: $dark-grey;
        font-size: 20px;
    }

    a:hover {
        color: #D6AAAC;
    }
}

.nav.logo {
    margin-bottom: 10px;
}

.liste-images{
    display: flex;
    justify-content: center;

    .item{
        margin: 5px;
        transition: all 1s;
        flex-grow: 1;
        flex-basis: 0;

        a {
            img {
                width: 100%;
            }
        }

        img {
            width: 100%;
        }
    }
    .item:hover{
        transform: scale(1.1)
    }
    }
    
    .arrow {
    
        &::after {
            display: inline-block;
            padding-left: 8px;
            transition: transform 0.3s ease-out;
        }
    }

    h2 {
        &:hover {
            
            .arrow {
                color: $pale-red;    
                transform: translateX(5px);
                transition: transform 0.3s ease-out;
            }
        }
    }